.App {
  text-align: center;
  background-color: #fafdf9;
}

.App-header {
  min-height: 9vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  font-size: calc(3vmin);
  color: black;
}

.App-logo {
  height: 8vh;
  pointer-events: none;
  margin-right: 1vw;
  margin-left: 1vw;
}

.App-text {
  text-align: center;
}

.App-link {
  color: #A8EB34;
  margin-left: auto;
  margin-right: 1vw;
}


.blog {
  font-size: 12;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.blog-post {
  text-emphasis: bold;
  margin-right: auto;
  margin-left: 1vw;
}

